</style>

<footer>
  <div class="container py-5" id="footer">
    <p id="copyright">Copyright © SembangTalk by Afiq Roslin  <%= new Date().getFullYear() %></p>
  </div>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>