<%- include("partials/header.ejs")%>

<div class="container pt-5 d-flex align-items-center justify-content-center">
    <h1>Create New Post!</h1>
    </div>
  </div>

<div class="container py-5 d-flex flex-column align-items-center">
    <div class="blog-post w-100" style="max-width: 1000px;"">
        <form id="postForm" class="mb-4" action="/posts" method="POST"  enctype="multipart/form-data" >
            <label for="title">Post title:</label>
            <input 
                type="text" 
                id="btitle" 
                name="btitle" 
                required minlength="3" 
                class="form-control mb-2">
            
            <label for="content">Post content:</label>
            <input 
                type="text" 
                id="bcontent" 
                name="bcontent" 
                required minlength="3" 
                class="form-control mb-2" 
                style="height: 300px;">

            <label for="image">Upload Image: </label>
            <input 
                type="file" 
                id="bimage" 
                name="bimage" 
                class="form-control mb-2">
            
            <button type="submit" value="POST" class="btn btn-primary">POST</button>
        </form>
    </div>

</div>

<%- include("partials/footer.ejs") %>